// Animazioni navbar
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.z-99 {
  z-index: 99;
}

// Link attivo style
.active-link {
  position: relative;
  color: #be212cff;
  font-weight: 600;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #be212cff, #931b23ff);
    border-radius: 10px;
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

.animate-fadeInLeft {
  animation: fadeInLeft 0.3s ease-out forwards;
}
