<div class="custom-japan-travel-page mt-[-80px]">
    <!-- Hero Section -->
    <app-hero-japan-travel></app-hero-japan-travel>
    <!-- Intro Section (contiene già intro + USP cards) -->
    <app-intro-japan-travel></app-intro-japan-travel>
    <!-- Tipologie di viaggio su misura -->
    <app-travel-types></app-travel-types>
    <!-- Other Sections -->
    <app-japan-seasons></app-japan-seasons>
    <app-prepare-japan-travel></app-prepare-japan-travel>
    <app-japan-destinations></app-japan-destinations>
    <app-japan-shopping></app-japan-shopping>
    <!-- FAQ Section -->
    <app-faq></app-faq>
    <!-- CTA Final + Form -->
    <app-cta-japan-travel></app-cta-japan-travel>
</div>