<div class="japan-travel-page mt-[-80px]">
    <!-- Hero Section -->
    <app-hero-japan-travel></app-hero-japan-travel>

    <!-- Intro Section -->
    <app-intro-japan-travel></app-intro-japan-travel>

    <!-- Tours Grid Section -->
    <app-tours></app-tours>

    <!-- Seasons Section -->
    <app-japan-seasons></app-japan-seasons>

    <!-- Prepare Section -->
    <app-prepare-japan-travel></app-prepare-japan-travel>

    <!-- Info Section -->
    <app-info-japan-travel></app-info-japan-travel>

    <!-- Destinations Section -->
    <app-japan-destinations></app-japan-destinations>

    <!-- Shopping Section -->
    <app-japan-shopping></app-japan-shopping>

    <!-- FAQ Section -->
    <app-faq></app-faq>

    <!-- CTA Final -->
    <app-cta-japan-travel></app-cta-japan-travel>
</div>